.oa__navlistWrapper a {
    color: #fb72a7;
    border: 0.5px solid #ffa0c5;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    padding: 0.35rem;
    padding-left: 0;
    padding-right: 0;
    border-radius: 13px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
    padding-bottom: 6px;
}