.oa__navlistWrapper a {
    color: #fb72a7;
    font-weight: 600;
    font-family: brevia, sans-serif;
    text-decoration: none;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    padding: 0.35rem;
    padding-left: 0;
    padding-right: 0;
    border-radius: 13px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
    padding-bottom: 6px;
}

header span > a {
    background: #f35190;
    opacity: 1;
    padding: 8px;
    border-radius: 10px;
    padding-bottom: 8px !important;
    border-bottom: none !important;
}

.front-page-link {
    transition: all 0.25s ease-in-out;
    color: #000000;
    border: 3px solid #ffffff;
    border-radius: 50%;
    padding: 8px;
    min-height: 43px;
    padding-bottom: 3px;
    padding-top: 3px;
    display: block;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    color: #ffffff !important;
}
.inner-subtitle {
    margin-top: 5.5rem;
    padding-left: 2rem;
    text-align: right;
    line-height: 32px;
    font-family: 'BREVIA';
    font-size: 22px;
    color: #fff;
}
.jKIxLh .front-page-link {
    color: #000000;
    border:3px solid #000000;
    border-radius: 50%;
    color: #000;
}